---
##############################
- include: _windows.yml
  when: ansible_os_family == "Windows"
  tags: [windows]

- include: _linux.yml
  tags: [al_agent]
  when: ansible_os_family != "Windows"

##############################
